<head>
	<!-- Meta -->
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="nấu ăn đà nẵng, nấu tiệc tại nhà, nấu ăn tại nhà, đà nẵng, da nang, đặt tiệc đà nẵng, nấu tiệc đà nẵng, nau tiec da nang, dat tiec da nang">

	<!-- CSS & fonts -->
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | replace: '//', '/' }}">


	<!-- RSS -->
	<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" />

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="img/favicon.png">


<meta property="og:locale" content="vi_VN" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:url" content="http://thuybodanang.com" />
<meta property="og:site_name" content="Dịch vụ nấu ăn tại nhà ở Đà Nẵng | Thực đơn đa dạng | Giá cả hợp lý" />
<meta name="robots" content="index,follow">
</head>
