<script type="text/javascript"  src="https://code.jquery.com/jquery-2.2.4.min.js"></script>	
<script type="text/javascript"  src="{{ "/js/vendor/jquery-migrate.min.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>	
<script type="text/javascript"  src="{{ "/js/vendor/bootstrap.min.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>	
<script type="text/javascript"  src="{{ "/js/vendor/back-to-top.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>	
<script type="text/javascript"  src="{{ "/js/vendor/smoothScroll.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>	
<script type="text/javascript"  src="https://tympanus.net/Development/ParallaxContentSlider/js/modernizr.custom.28468.js"></script>	
<script type="text/javascript"  src="{{ "/js/vendor/owl.carousel.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>	
<script type="text/javascript"  src="{{ "/js/vendor/jquery.cslider.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>	

<script type="text/javascript"  src="{{ "/js/app.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>	
<script type="text/javascript"  src="{{ "/js/vendor/owl-carousel.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>	
<script type="text/javascript"  src="{{ "/js/vendor/parallax-slider.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>	
