<!doctype html>
<html amp lang="vi">
{% include head.html %}

<body>
  <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="261073064316638"
  logged_in_greeting="Xin chào, chúng tôi đã sẵn sàng để được phục vụ bạn"
  logged_out_greeting="Xin chào, chúng tôi đã sẵn sàng để được phục vụ bạn">
</div>

    <div class="wrapper">
        <!--=== Header ===-->
        {% include navigation.html %}
        <!--=== End Header ===-->
        {{ content }} 
        {% include footer.html %}
    </div>
    <!--/wrapper-->
    <!-- JS Global Compulsory -->

    <!-- Script -->
    {% include script.html %}


    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            OwlCarousel.initOwlCarousel();
            ParallaxSlider.initParallaxSlider();
        });
    </script>
            {{ page.script }} 
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90461880-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
